
/*
Blue theme dark-mode
https://github.com/SiriusXT/trilium-theme-blue
dark-mode version:0.5 for trilium:>0.58.4
*/
body{
    --ck-color-table-focused-cell-background:#1E1E1E;
  }
  :root {
    --theme-style: dark;
    --main-background-color: #1E1E1E;
    --main-text-color: #ccc;
    --main-border-color: #333333;
  
    --accented-background-color: #252526;
    --more-accented-background-color: #777;
  
    --button-background-color: transparent;
    --button-border-color: #333;
    --button-text-color: currentColor;
    --button-border-radius: 3px;
    --button-disabled-background-color: transparent;
    --button-disabled-text-color: #999;
  
    --primary-button-background-color: #0E639C50;
    --primary-button-text-color: #ccc;
    --primary-button-border-color: transparent;
  
    --muted-text-color: #bbb;
  
    --input-text-color: #ccc;
    --input-background-color: #333;
  
    --hover-item-text-color: #ccc;
    --hover-item-background-color: transparent;
    --hover-item-border-color: #333;
  
    --active-item-text-color: #ccc;
    --active-item-background-color: #04395E;
    --active-item-border-color: transparent;
  
    --menu-text-color: #ccc;
    --menu-background-color: #222;
  
    --modal-background-color: #333;
    --modal-backdrop-color: #444;
  
    --left-pane-background-color: #252526;
    --left-pane-text-color: #AAAAAA;
  
    --launcher-pane-background-color: #333333;
    --launcher-pane-text-color: #6F7676;
  
    --active-tab-background-color: transparent;
    --active-tab-hover-background-color: transparent;
    --active-tab-text-color: #ccc;
  
    --inactive-tab-background-color: #2D2D2D;
    --inactive-tab-hover-background-color: #2D2D2D;
    --inactive-tab-text-color: #bbb;
  
    --scrollbar-border-color: #333;
    --tooltip-background-color: #333;
    --link-color: #519ABA;
  
    --mermaid-theme: dark;
    --ck-color-code-block-label-background: #333;
  }
  
  body ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  body .CodeMirror {
    filter: invert(88%) hue-rotate(180deg);
  }
  
  .excalidraw.theme--dark {
    --theme-filter: invert(80%) hue-rotate(180deg) !important;
  }
  
  .gutter {
    width: 2px !important;
    background: var(--left-pane-background-color) !important;
  }
  
  
  
  div#toast-container {
    right: 0px !important;
    bottom: 0px !important;
    top: auto !important;
    width: auto !important;
  }
  
  
  .switch-widget span.slider.checked {
    background-color: var(--primary-button-background-color) !important;
  }
  
  
  div.note-detail div.ck-horizontal-line.ck-widget {
    margin-top: 10px !important;
  }
  
  .ck-content hr {
    margin-bottom: 10px !important;
  }
  
  
  body,
  span.fancytree-title {
    font-family: var(--detail-font-family) !important;
    top: 0px !important;
  }
  
  span:not(.fancytree-active) span.fancytree-title {
    font-weight: 500 !important;
  }
  
  
  
  .global-menu {
    
    width: 44px !important;
  }
  
  div#launcher-pane .global-menu-button {
    filter: invert(0.5);
  }
  
  ul.fancytree-container li {
    contain: initial;
  }
  
  .global-menu-button {
    
    background-size: 35px !important;
  }
  
  div#launcher-pane.component {
    width: 44px !important;
  }
  
  
  #launcher-pane .launcher-button {
    width: 44px !important;
    padding: initial !important;
  }
  
  
  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: initial;
  }
  
  .sync-status .sync-status-icon {
    padding: 13px 8px 8px 8px;
  }
  
  .sync-status .sync-status-icon span {
    padding: 13px 8px 8px 8px;
  }
  
  
  
  div.quick-search.input-group.input-group-sm.component {
    align-content: center;
  }
  
  
  span.fancytree-node:not(.fancytree-folder) .fancytree-expander::before {
    content: "\ec21" !important;
    visibility: visible !important;
    color: var(--left-pane-text-color) !important;
    opacity:0.1;
  }
  
  
  
  
  
  
  
  #center-pane .title-row .note-icon-widget button {
    display: flex;
    
    margin: 0;
  }
  
  #center-pane .title-row .note-title-widget input.note-title {
    
  }
  
  input.note-title {
    font-family: var(--detail-font-family) !important;
    font-weight: bold;
  }
  
  .bx-dock-right::before {
    vertical-align: middle;
  }
  
  
  
  
  
  
  
  
  html {
    
    --h2-background-color: rgb(105 154 187 / 50%);
    --h3-background-color: rgb(112 175 164 / 40%);
    --h4-background-color: rgb(215 187 162 / 40%);
    --h5-background-color: rgb(190 186 206 / 40%);
    --h6-background-color: rgb(197 197 197 / 40%);
  }
  
  
  div#rest-pane>div.component {
    height: 30px !important;
    margin-bottom: 1px !important;
  }
  
  .note-new-tab {
    width: 30px !important;
    height: 30px !important;
    font-size: 19px !important;
  }
  
  div#root-widget div#rest-pane div.tab-row-widget div.note-new-tab:hover {
    
    
  }
  
  div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper {
    
    padding: 2px 5px 1px 5px !important;
    height: 30px !important;
  }
  
  div.note-tab-wrapper div.note-tab-close.bx {
    padding-bottom: 25px;
  }
  
  div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper:hover {
    
  }
  
  div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper>div:hover {
    background: none;
  }
  
  div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab[active] .note-tab-wrapper {
    
  }
  
  div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab[active] .note-tab-wrapper div.note-tab-title::before {
    content: "\203B ";
    margin-right: 5px;
  }
  
  
  
  
  
  
  
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n) {
    border-left: 4px solid #f4a6a650;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+1) {
    border-left: 4px solid #99d0df50;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+2) {
    border-left: 4px solid #b4afdf50;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+3) {
    border-left: 4px solid #abd58b50;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+4) {
    border-left: 4px solid #f3d27550;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+5) {
    border-left: 4px solid #bccdf150;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n):hover {
    background-color: #f4a6a607 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+1):hover {
    background-color: #99d0df07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+2):hover {
    background-color: #b4afdf07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+3):hover {
    background-color: #abd58b07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+4):hover {
    background-color: #f3d27507 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+5):hover {
    background-color: #bccdf107 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n)>span.fancytree-node:hover {
    background-color: #f4a6a607 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+1)>span.fancytree-node:hover {
    background-color: #99d0df07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+2)>span.fancytree-node:hover {
    background-color: #b4afdf07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+3)>span.fancytree-node:hover {
    background-color: #abd58b07 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+4)>span.fancytree-node:hover {
    background-color: #f3d27507 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+5)>span.fancytree-node:hover {
    background-color: #bccdf107 !important;
  }
  
  
  
  
  
  .fancytree-node {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  span.fancytree-node.fancytree-active {
    
    border-radius: 0px !important;
    border: 0px !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n)>span.fancytree-node.fancytree-active {
    background-color: #f4a6a610 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+1)>span.fancytree-node.fancytree-active {
    background-color: #99d0df10 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+2)>span.fancytree-node.fancytree-active {
    background-color: #b4afdf10 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+3)>span.fancytree-node.fancytree-active {
    background-color: #abd58b10 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+4)>span.fancytree-node.fancytree-active {
    background-color: #f3d27510 !important;
  }
  
  li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+5)>span.fancytree-node.fancytree-active {
    background-color: #bccdf110 !important;
  }
  
  span.button-widget.icon-action.bx.component.bx-history,
  .ribbon-button-container .icon-action {
    padding-top: 5px !important;
  }
  
  span.fancytree-node:hover {
    border: 0px !important;
  }
  
  span.fancytree-node {
    border: 0px !important;
  }
  
  .title-bar-buttons div button.icon-action {
    font-size: 80% !important;
  }
  
  .title-bar-buttons {
    font-size: 12px;
  }
  
  div.note-detail p {
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
    
    text-indent: 2em;
    
    text-align: justify;
    text-justify: distribute;
  }
  
  
  dl,
  ol,
  ul {
    padding-left: 2em;
  }
  
  div.note-detail ul>li,
  ol>li {
    text-align: justify;
    text-justify: distribute;
  }
  
  blockquote>p {
    text-indent: 0em;
  }
  
  p>span.ck-math-tex {
    text-indent: 0em;
    
  }
  
  
  .note-detail {
    line-height: 1.35;
  }
  
  
  div.note-detail.component span:not([class])[style*="background"] {
    color: #222;
  }
  
  
  
  .ck-content p>span.image-inline {
    vertical-align: middle;
    
  }
  
  
  .ck-content figure.image {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  
  
  div.note-detail.component span.image-inline {
    border: 1px dashed rgb(50, 50, 50);
  }
  
  div.note-detail.component figure.image {
    border: 1px dashed rgb(50, 50, 50);
  }
  
  ::selection {
    background-color: rgba(70, 130, 180, 0.5) !important;
    
  }
  
  .note-properties-widget {
    padding: 0px !important;
  }
  
  
  .note-icon-widget.dropdown.component {
    padding-top: 1.5px !important;
  }
  
  
  .basic-properties-widget>* {
    margin-top: 0px !important;
  }
  
  div.attribute-list {
    margin-top: 0px !important;
  }
  
  .basic-properties-widget {
    padding: 0px 12px 0px 12px !important;
  }
  
  .component {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .inherited-attributes-container {
    padding: 0px 12px 0px 12px !important;
  }
  
  .add-new-attribute-button,
  .save-attributes-button {
    bottom: 0px !important;
  }
  
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background: var(--launcher-pane-background-color) !important;
    border-color: var(--launcher-pane-text-color) !important;
  }
  
  
  
  
  
  
  #center-pane div.note-detail-editable-text div.note-detail-editable-text-editor.ck.ck-content pre,
  #center-pane .CodeMirror pre code {
    
    padding: 0.2em;
    
    margin: 0.5rem auto 0.5rem;
    
    
  }
  
  .ck-content pre {
    border: 1px solid #37373D !important;
    border-radius: 0px !important;
    background-color: #252526 !important;
  }
  
  
  div.note-detail-editable-text {
    padding-right: 10px;
  }
  
  
  .ck.ck-editor__editable pre[data-language]::after {
    background: rgba(100, 100, 100, 0.1) !important;
    color: #ccc !important;
  }
  
  
  
  span.katex * {
    font-family: KaTeX_Main !important;
    font: KaTeX_Main, Times New Roman, serif !important;
  }
  
  
  .katex-display {
    margin: 0.1rem 0;
  }
  
  
  .ck-content blockquote {
    font-style: initial !important;
    color: #2C3E50 !important;
    border-left: 5px solid #D6DBDF !important;
    background: none repeat scroll 0 0 rgba(102, 128, 153, .05) !important;
    padding: 2px 1px 3px !important;
    margin: 0.2rem 0 0 0 !important;
  }
  
  .ck-content blockquote {
    filter: invert(100%) hue-rotate(180deg);
  }
  
  blockquote>p {
    margin-bottom: 0 !important;
    text-indent: 1.7em !important;
  }
  
  dl,
  ol,
  ul {
    margin-bottom: 0.1rem !important;
  }
  
  
  
  .ck-content .table {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .ck-content .table table {
    border: 1px solid var(--main-border-color) !important;
  }
  .ck-content .table table td, .ck-content .table table th{
    border: 1px solid var(--main-border-color) !important;
  }
  
  
  a[href^="#root"] {
    
  }
  
  
  
  div.component.note-split.type-text h1 {
    padding-left: 0.4em;
    border-left: 9px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }
  
  
  div.component.note-split.type-text h2:not(div.note-list-widget h2) {
    background: var(--h2-background-color);
    border-radius: 6px 6px 6px 6px;
    
    
    padding: 5px 0 2px 10px;
    
  }
  
  div.component.note-split.type-text h3:not(div.note-list-widget h3) {
    background: var(--h3-background-color);
    border-radius: 6px 6px 6px 6px;
    
    
    padding: 4px 0 2px 10px;
    
  }
  
  div.component.note-split.type-text h4:not(div.note-list-widget h4) {
    background: var(--h4-background-color);
    border-radius: 6px 6px 6px 6px;
    
    
    padding: 3px 0 2px 10px;
    
  }
  
  div.component.note-split.type-text h5:not(.note-book-header):not(div.note-list-widget h5) {
    background: var(--h5-background-color);
    border-radius: 6px 6px 6px 6px;
    
    
    padding: 2px 0 2px 10px;
    
  }
  
  div.component.note-split.type-text h6:not(div.note-list-widget h6) {
    background: var(--h6-background-color);
    border-radius: 6px 6px 6px 6px;
    
    
    padding: 1px 0 2px 10px;
    
  }
  
  
  div.component.note-split.type-text h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: .3rem !important;
    margin-bottom: .15rem !important;
  }
  
  
  div.toc-widget span.toc>ol>li {
    color: var(--h2-background-color);
  }
  
  div.toc-widget span.toc>ol>ol>li {
    color: var(--h3-background-color);
  }
  
  div.toc-widget span.toc>ol>ol>ol>li {
    color: var(--h4-background-color);
  }
  
  div.toc-widget span.toc>ol>ol>ol>ol>li {
    color: var(--h5-background-color);
  }
  
  div.toc-widget span.toc>ol>ol>ol>ol>ol>li {
    color: var(--h6-background-color);
  }
  
  .toc ol {
    padding-left: 15px;
  }
  
  
  
  
  
  .form-control {
    border: 1px solid var(--input-background-color) !important;
  }
  
  .input-group-text {
    border: 1px solid var(--input-background-color) !important;
  }
  
  
  div.shared-info-widget.alert.alert-warning.component{
      margin:0;
  }
  div.tooltip-inner{
      box-shadow:0px 0px 0px 0px #000 !important;
  }
  
  
  div.modal.mx-auto.component {
    background-color: #00000085 !important;
  }
  
  
  html body.mobile.heading-style-plain div#root-widget.component div#launcher-pane.component div#launcher-container.component div.spacer.component {
    
    width: 44px !important;
  }