
div#toast-container{
   right:0px !important;
   bottom:0px !important;
   top:auto !important;
   width:auto !important;
}

.switch-widget span.slider.checked{
   background-color:var(--color-blue-light) !important;
}



body,span.fancytree-title{
   font-family:var(--detail-font-family) !important;
}
span:not(.fancytree-active) span.fancytree-title{
   font-weight: 500 !important;
}


div#launcher-pane {
  background-color: var(--color-blue-light);
}
.fancytree-title{
  top:0 !important;
}
div#launcher-pane .component,
div#launcher-pane .icon-action {
  color: #f0f4f4;
}

span.fancytree-selected span.fancytree-title{
   text-decoration:underline;
}

div#launcher-pane .global-menu-button {
  filter: invert(1);
}

div#launcher-pane .global-menu-button:hover {
  filter: invert(0);
}

div#launcher-pane .icon-action:hover {
  background-color: rgba(220,220,220,0.5);
}


#left-pane input.search-string {
   background: rgba(255, 255, 255, 0.3) !important;
}
div.quick-search.input-group.input-group-sm.component{
   align-content: center;
}

span.fancytree-node:not(.fancytree-folder) .fancytree-expander::before{
   content: "\ec21" !important;
   visibility: visible !important;
   color: rgba(51,51,51,0.1) !important;
} 

div#root-widget div.gutter-horizontal {
 background: var(--color-gray-light);
 width: 5px !important;
 border-left: var(--border-standard);
 border-radius: 0;
 padding-right: 0.3rem;
 border-right: var(--border-standard);
}


#center-pane .title-row .note-icon-widget button {
   display: flex;
   color: var(--color-blue-light);
   
   margin:0;
}
#center-pane .title-row .note-title-widget input.note-title {
 color: var(--color-blue-dark) !important;
}
input.note-title{
   font-family:var(--detail-font-family) !important;
   font-weight:bold;
}
.bx-dock-right::before{
   vertical-align: middle;
}





button.ck.ck-block-toolbar-button{
   background-color: rgba(255,255,255,0);
}



html{
   --color-blue-light: #4682B4;
   --color-blue-light-alpha: #4682B470;
   --color-gray: #d6d6d6;
   --color-gray-light: #f5f5f5;
   --color-gray-light-text: #999;
   --color-gray-light-alpha: rgba(199, 199, 199, 0.2);
   --border-standard: 1px solid var(--color-gray);
   --color-blue-dark: #2e4b76;
   --link-color: #4682B4 !important;
}

div#root-widget div#rest-pane div.tab-row-widget div.note-new-tab {
   color: var(--color-gray-dark);
   background-color: var(--color-gray-light-alpha);
}
.note-new-tab{
   width: 30px !important;
   height: 30px !important;
   font-size: 19px !important;
}
.tab-row-widget .note-tab .note-tab-close span{
   font-size: 23px !important;
}
div#root-widget div#rest-pane div.tab-row-widget div.note-new-tab:hover {
   color: var(--color-blue-light);
   background-color: var(--color-blue-light-alpha);
}

div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper {
   background-color: var(--color-gray-light);
   color: var(--color-gray-light-text);
   padding: 3px 5px 1px 5px !important;
   height: 30px !important;
}

div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper:hover {
   background-color: var(--color-blue-light-alpha);
}

div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab div.note-tab-wrapper>div:hover {
   background: none;
}

div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab[active] .note-tab-wrapper {
   color: var(--color-blue-light);
   background-color: var(--color-blue-light-alpha);
}

div#rest-pane div.tab-row-widget div.tab-row-widget-container div.note-tab[active] .note-tab-wrapper div.note-tab-title::before {
   content: "\203B ";
   margin-right: 5px;
}

li.fancytree-lastsib ul li[role='treeitem']:hover {
    background: rgba(70, 130, 180, 0.2) !important;
   
}
span.fancytree-node.fancytree-expanded.fancytree-folder:hover{
   background: rgba(70, 130, 180, 0.2) !important;
}


#left-pane.component {
   background-image: url("/custom/background.png");
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n) {
   border-left: 4px solid #f4a6a6 !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+1) {
   border-left: 4px solid #99d0df !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+2) {
   border-left: 4px solid #b4afdf !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+3) {
   border-left: 4px solid #abd58b !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+4) {
   border-left: 4px solid #f3d275 !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}

li.fancytree-lastsib ul li[role='treeitem']:nth-of-type(6n+5) {
   border-left: 4px solid #bccdf1 !important;
   border-top-left-radius: 10px !important;
   border-bottom-left-radius: 10px !important;
}


div#root-widget div#left-pane span.fancytree-node.fancytree-active {
   background-color: rgba(70, 130, 180, 0.3) !important;
   border-radius: 0px !important;
   border: 0px  !important;
}

span.button-widget.icon-action.bx.component.bx-history,
.ribbon-button-container .icon-action {
   padding-top: 5px !important;
}

span.fancytree-node:hover{
      border: 0px !important;
}
span.fancytree-node{
   border:0px !important;
}

.title-bar-buttons div button.icon-action {
   font-size: 80% !important;
}

div.note-detail p{
   margin-top: 0.1rem !important;
   margin-bottom: 0.1rem !important;
   
   text-indent: 2em;
   
   text-align: justify;
   text-justify: distribute;
}

blockquote>p {
   text-indent: 0em;
}

p>span.ck-math-tex {
   text-indent: 0em;
}


.note-detail {
   line-height: 1.25;
}


.image-inline {
   vertical-align: middle;
}

.ck-content .image{
   margin: 0.1 auto !important;
}

::selection {
   background-color: rgba(70, 130, 180, 0.7);
   color: #fff;
}

.note-properties-widget {
   padding: 0px !important;
}


.basic-properties-widget>* {
   margin-top: 0px !important;
}
div.attribute-list{
   margin-top: 0px !important;
}

.basic-properties-widget {
   padding: 0px 12px 0px 12px !important;
}

.component {
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}

.inherited-attributes-container {
   padding: 0px 12px 0px 12px !important;
}

.add-new-attribute-button {
   bottom: 0px !important;
}

div#launcher-pane .icon-action:hover {
   background-color: rgba(128, 128, 128, 0.5) !important;
}


::-webkit-scrollbar-thumb {
   border-radius: 5px !important;
   background: rgba(0, 0, 0, 0.2) !important;
}
::-webkit-scrollbar{
   height:12px;
}

#launcher-pane .icon-action {
   padding-top: 15px !important;
}

div#center-pane .note-book-card {
   border: 1px solid rgba(128, 128, 128, 0.5) !important;
}




#center-pane div.note-detail-editable-text div.note-detail-editable-text-editor.ck.ck-content pre,
#center-pane .CodeMirror pre code {
   color: var(--color-blue-dark) !important;
   padding: 0.2em;
   
   margin: 0.5rem auto 0.5rem;
   
   background-color: var(--color-gray-light);
   border: 1px dotted var(--color-gray);
}



span.katex * {
   font-family: KaTeX_Main !important;
   font: KaTeX_Main, Times New Roman, serif !important;
}




.ck-content blockquote{
   font-style: initial !important;
   color: #2C3E50  !important;
   border-left: 5px solid #D6DBDF  !important;
   background: none repeat scroll 0 0 rgba(102,128,153,.05)  !important;
   padding: 2px 0 5px !important;
   margin: 0.2rem 0 0 0 !important;
}
blockquote>p{
   margin-bottom: 0 !important;
   text-indent: 1.7em !important;
}
dl, ol, ul{
   margin-bottom: 0.1rem !important;
}



.ck-content .table{
   margin-top: 0.1rem;
   margin-bottom: 0.1rem;
}

div.find-box{
   right: 40px !important;
   top: 43px !important;
}



h1 {
   padding-left: 0.4em;
   border-left: 9px solid rgba(0, 0, 0, 1);
   border-bottom: 1px solid rgba(0, 0, 0, 1);
}

h2 {
   background: rgba(43, 102, 149, 0.8);
   border-radius: 6px 6px 6px 6px;
   box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
   color: #FFFFFF;
   font-size: 18px;
   padding: 5px 0 3px 5px;
   text-shadow: 2px 2px 3px #222222;
}

h3 {
   background: rgba(43, 102, 0, 0.6);
   border-radius: 6px 6px 6px 6px;
   box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
   color: #FFFFFF;
   padding: 4px 0 2px 10px;
   text-shadow: 2px 2px 3px #222222;
}

h4 {
   background: rgba(89, 89, 89, 0.5);
   border-radius: 6px 6px 6px 6px;
   box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
   color: #FFFFFF;
   padding: 3px 0 1px 10px;
   text-shadow: 2px 2px 3px #222222;
}
h1, h2, h3, h4, h5, h6{
   margin-top:.3rem !important;
   margin-bottom: .15rem !important;
}