/*version:0.2*/

/* #region 
 Right Pane style */
/* Hide right pane options button */
#right-pane .card-header-buttons .button-widget.bx-cog {
  display: none;
}

/* Display the vertical scrollbars for TOC and HLL respectively */
#right-pane:has(.card.widget.visible ~ .card.widget.visible) .card.widget.visible {
	max-height: 50%;
}

/*
 TOC widget
*/
.toc-widget {
  padding-left: 0px !important;
}

.toc-widget .toc li {
  position: relative;
  padding-left: 20px !important;
}

.toc-widget .toc>ol {
  list-style-type: none;
  padding-left: 5px !important;
}

.toc-widget .toc>ol ol {
  list-style-type: none;
  padding-left: 0;
}

.toc-widget .toc li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--main-border-color);
}

.toc-widget .toc li::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 12px;
  background: currentColor;
  border-radius: 50%;
  transform: translateX(-50%);
}

.toc-widget .toc>ol>li::after {
  width: 6px;
  height: 6px;
}

.toc-widget .toc>ol>ol>li::after {
  width: 6px;
  height: 6px;
  border: 2px solid currentColor;
  background: var(--main-background-color);
}

.toc-widget .toc>ol>ol>ol li::after {
  width: 4px;
  height: 4px;
  border-radius: 0%;
}

/* Hide the tails of the first and last vertical lines */
.toc-widget .toc>ol::before {
  content: '';
  position: absolute;
  width: 2px;
  left: 5px;
  top: 0px;
  height: 12px;
  background: var(--main-background-color);
  z-index: 10;
}
.toc-widget>.toc > ol:last-child > li:last-child::before,
.toc-widget>.toc > ol:last-child > ol:last-child > li:last-child::before,
.toc-widget .toc > ol:last-child > ol:last-child > ol:last-child > li:last-child::before,
.toc-widget .toc > ol:last-child > ol:last-child > ol:last-child > ol:last-child > li:last-child::before,
.toc-widget .toc > ol:last-child > ol:last-child > ol:last-child > ol:last-child > ol:last-child > li:last-child::before {
  top: 0;
  height: 12px;
}

/*
  highlights list widget
*/

.highlights-list-widget {
  padding-left: 0px !important;
}

.highlights-list-widget li {
  margin-bottom: 0px !important;
}

.highlights-list-widget .highlights-list li {
  position: relative;
  padding-left: 20px !important;
}

.highlights-list-widget .highlights-list>ol {
  list-style-type: none;
  padding-left: 5px !important;
}

.highlights-list-widget .highlights-list>ol ol {
  list-style-type: none;
  padding-left: 0;
}

.highlights-list-widget .highlights-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--main-border-color);
}

.highlights-list-widget .highlights-list li::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 15px;
  background: var(--main-text-color);
  border-radius: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
}

/* Hide the tails of the first and last vertical lines */
.highlights-list-widget .highlights-list li:first-child::before {
  top: 15px;
  bottom: 0;
}
.highlights-list-widget .highlights-list ol li:last-child::before {
  top: 0px;
  height: 15px;
}
.highlights-list-widget .highlights-list>ol>li:last-child:first-child::before{
  display:none;
}

/* #endregion */